body{
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h2{
    color: white;
}

.container p{
    color: white;
}

button{
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

button:hover{
    background-color: white;
    color: black;
}